[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=eww - Open basewindow
Comment=Start the basewindow widget from eww.
Exec=/usr/local/bin/eww open --no-daemonize basewindow
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

